.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left; 
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  width: 100%;
  border-radius: 20px;
}

.form-label {
  display: flex;
  justify-content: left; 
  align-items: left;
  color: #ffffff;
  width: 100%;
  padding: 5px 0;
  margin-left: 10px;
}

.form-control {
  width: 600px;
  text-align: left;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-right: auto; 
  margin-left: auto; 
}

.btn-submit {
  padding: 10px 16px;
  background-color: #2622f1;
  color: #ffffff;
  border: none;
  border-radius: 15px;
}
