.update-form-container {
    margin-top: 20px;
    border: 2px solid #2622f1;
    border-radius: 20px;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
  }
  
  .update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family:New Century Schoolbook, TeX Gyre Schola, serif;
    width: 100%;
    border-radius: 20px;
  }
  
  .label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    width: 100%;
    padding: 5px 0;
  }
  
  .input {
    width: 600px;
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 60px;
  }
  
  .btn-update {
    padding: 10px 16px;
    background-color: #2622f1;
    color: #ffffff;
    border: none;
    border-radius: 15px;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .update-form-container {
      padding: 10px;
      margin: 10px auto;
      max-width: 100%;
      width: 90%;
    }
  
    .form-group {
      width: 100%;
    }
  
    .input {
      width: 100%;
    }
  }
  