
.user_container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #2622f1;
    border-radius: 5px;
    background-color: #0A0A0A;
    
    
  }
  
  .user_container button {
    padding: 10px 16px;
    background-color: #2622f1;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    margin-top: 8px;
    
  }
  
  .user_container p {
    margin-bottom: 20px;
    color:#fff;
    align-items: center;
    text-align: center;
  
  }
  
  .form-group {
    margin-bottom: 20px;
    align-items: center;
    width: 1000px;
  
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #a70000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:New Century Schoolbook, TeX Gyre Schola, serif;
  
  }
  .form-title{
    color: #fff;
    font-family:New Century Schoolbook, TeX Gyre Schola, serif;
    margin-top: 15px;
    margin-bottom: 20px;
    
  
  }
  
  .form-button:hover {
    background-color: #45a049;
  }
  
  .form-button:disabled {
    background-color: #960a0a;
    cursor: not-allowed;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
     font-family:New Century Schoolbook, TeX Gyre Schola, serif;
   
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
     font-family:New Century Schoolbook, TeX Gyre Schola, serif;
     align-items: center;
  }

  
 