.edit-form {
  margin-top: 20px;
  border: 2px solid #2622f1;
  border-radius: 20px;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 20px auto; /* Изменено на "20px auto" */
}

.form-row {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.form-label {
  display: flex;
  justify-content: center; 
  align-items: center;
  color: #bb2121;
  padding: 10px 20px;
  text-align: left;
}

.label-text {
  margin-left: 10px;
  color: #ffffff;
}

.input-edit {
  width: 600px;
  text-align: left;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-right: auto;  
  margin-left: auto;  
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .edit-form {
    padding: 10px;
    width: 90%;
  }

  .form-row {
    justify-content: flex-start;
  }

  .form-label {
    justify-content: flex-start;
    padding: 5px 0;
  }

  .input-edit {
    width: 100%;
  }
}
